body {
    text-align: center;
    margin-top: 50px;
}

body {
    text-align: center;
    margin-top: 50px;
    position: relative; /* Needed for absolute positioning of images */
}

canvas {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #76b900;
}

#mousePosition {
    font-size: 20px;
    margin-top: 20px;
}

